@charset "UTF-8";


@media all and (max-width:1200px) {
    #header .wrap .mobile {display:block;width:35px;margin:auto 0;}
    #header .wrap .moSocial {display:block;}
    #header .wrap #nav {display:none;}
    #header .wrap .logo {width:174px;margin:auto;}
    #header .wrap #aside {width:50px;margin:auto 0;}
    #header .wrap #aside > ul > li:nth-child(1) {display:none;}
    #header .wrap #aside > ul > li:nth-child(2) {display:none;}

    #main-design #section2 .wrap {width:100%;max-width:970px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container {height:80%;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:50%;max-width:455px;min-height:303px;}

}

@media all and (max-width:1000px) {
    #footer .wrap .gap .container .f-down > div {display:flex;flex-flow:column nowrap;text-align:center;}
    #footer .wrap .gap .container .f-down > div .f-nav {margin:20px auto;}
    #footer .wrap .gap .container .f-down > div .f-social {margin:40px auto 0 auto;}
}

@media all and (max-width:980px) {
    #main-design #section2 .wrap {width:100%;max-width:750px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:50%;max-width:345px;min-height:230px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div h2 {margin:18px 0 8px 0;font-size:38px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div p {margin-bottom:20px;font-size:13px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div .s2btn-wrap a {padding:10px 50px;font-size:12px;}
}

@media all and (max-width:780px) {
    #footer .wrap {width:80%;}
    #footer .wrap .gap .container .f-up {display:none;}
    #footer .wrap .gap .container .f-down > div .f-nav {display:flex;flex-flow:column nowrap;}
    #footer .wrap .gap .container .f-down > div .f-nav li {margin-bottom:30px;text-align:center;}
    #footer .wrap .gap .container .f-down > div .f-nav li:nth-child(1) {margin:0 25px 30px 25px;text-align:center;}
    #footer .wrap .gap .container .f-down > div .f-social {margin:20px auto 0 auto;}

    #main-design #section2 .wrap {width:100%;max-width:555px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container {display:block;height:100%;}
    #main-design #section2 .wrap .gap .container .left {width:100%;margin:0 auto;padding:0;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:100%;max-width:555px;height:370px;}
    #main-design #section2 .wrap .gap .container .right {width:100%;margin:0 auto;padding:40px 0 0 0;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div h2 {margin:22px 0 11px 0;font-size:40px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div p {margin-bottom:25px;font-size:15px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div .s2btn-wrap a {padding:13px 74px;font-size:14px;}

}

@media all and (max-width:600px) {
    #main-design #section2 .wrap {width:100%;max-width:455px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container {height:80%;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:100%;max-width:455px;height:303px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div h2 {margin:18px 0 8px 0;font-size:38px;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div p {font-size:13px;width:90%;margin:0 auto 20px auto;}
    #main-design #section2 .wrap .gap .container .right .txt-wrap div .s2btn-wrap a {padding:10px 40px;font-size:12px;}

}

@media all and (max-width:480px) {
    #main-design #section2 .wrap {width:100%;max-width:345px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container {height:80%;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:100%;max-width:345px;height:230px;}
}

@media all and (max-width:400px) {
    .goTop {right:-20px;}

    #main-design #section2 .wrap {width:100%;max-width:300px;margin:0 auto;}
    #main-design #section2 .wrap .gap .container .left .slide-container .slide-view .slide-wrap .slide {width:100%;max-width:300px;background-size:300px 230px;}
}